[dir]
basedir=/home/hilcharge/jjfattypy
temp=%(basedir)s/temp
bin=%(basedir)s/bin
conf=%(basedir)s/.jjfattypy
mapping=%(conf)s/mapping
init=%(basedir)s/init
sql=%(basedir)s/sql
db_patches=%(sql)s/patch
lib=%(basedir)s/lib
logs=%(basedir)s/log
python_lib=%(lib)s/python

[bug_db]
root_dir=/var/www/pelicanboards/peltim
base_dir=%(root_dir)s/deps/kansha
dir=%(base_dir)s/sql
file=%(root_dir)s/sql/bugs/pb-bugs.db
test_file_dir=%(base_dir)s/tests
test_file=%(test_file_dir)s/testbugs.db
schema_file=%(test_file_dir)s/bugs-schema.sql

